################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LongReacher/LongReacherCore/obj/Debug
/LongReacher/LongReacherCore/bin/Debug
